<mat-card>
    <mat-card-header>
        <mat-card-title>{{ memgraphInfo.name }}</mat-card-title>
        <mat-card-subtitle>{{ memgraphInfo.uri }}</mat-card-subtitle>

        <button
            mat-mini-fab
            color="primary"
            [class]="getMatCardQueryButtonClass(memgraphInfo.active)"
            [disabled]="!memgraphInfo.active"
            aria-label="Run a cypher query"
            (click)="openQueryDialog()"
            *ngIf="!isModalDialog"
        >
            <mat-icon>timeline</mat-icon>
        </button>
        <button
            mat-mini-fab
            color="primary"
            class="mat-card-button mat-card-button-delete"
            aria-label="Remove instance"
            (click)="removeMemgraph(memgraphInfo.id)"
            *ngIf="!isModalDialog"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field appearance="standard" *ngFor="let property of memgraphInfo.storageInfo | keyvalue"
            class="card-content-item">
            <mat-label>{{ getLabelForStorageTypeKey(property.key) }}</mat-label>
            <input matInput readonly [value]="getValueWithMeasurementUnit(property.key, property.value)">
        </mat-form-field>
    </mat-card-content>
</mat-card>
