<div class="grid-container">
  <h1 class="mat-h1">
    <span>ManaGraph dashboard</span>

    <button
      mat-flat-button
      class="dashboard-button"
      color="basic"
      aria-label="Open add new MemGraph instance dialog"
      (click)="openNewInstanceDialog()"
    >
      Add new instance
    </button>
  </h1>

  <mat-divider></mat-divider>

  <mat-form-field class="filter-field" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filter" (ngModelChange)="filterChanged($event)">
  </mat-form-field>

  <mat-grid-list cols="4" rowHeight="500px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <app-memgraph [memgraphInfo]="card.memgraphInfo" class="dashboard-card"></app-memgraph>
    </mat-grid-tile>
  </mat-grid-list>
</div>
